version: "3.9"

services:
  lidar:
    build:
      context: .
      dockerfile: src/lidar/Dockerfile
    container_name: lidar
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  photogrammetry:
    build:
      context: .
      dockerfile: src/photogrammetry/Dockerfile
    container_name: photogrammetry
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  servo:
    build:
      context: .
      dockerfile: src/servo/Dockerfile
    container_name: servo
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  data_processor:
    build:
      context: .
      dockerfile: src/data_processor/Dockerfile
    container_name: data_processor
    environment:
      - ROS_DOMAIN_ID=0
    volumes:
      - ./output:/output
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  orchestrator:
    build:
      context: .
      dockerfile: src/orchestrator/Dockerfile
    container_name: orchestrator
    depends_on:
      - data_processor
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

networks:
  default:
    driver: bridge
