version: "3.8"
services:
  
  lidar:
    build: ./src/lidar
    container_name: lidar
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    command: bash

  photogrammetry:
    build: ./src/photogrammetry
    container_name: photogrammetry
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    command: bash

  servo:
    build: ./src/servo
    container_name: servo
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    command: bash

  orchestrator:
    build: ./src/orchestrator
    container_name: orchestrator
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    command: bash

  data_processor:
    build: ./src/data_processor
    container_name: data_processor
    network_mode: "host"
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    command: bash
