version: "3.9"

services:
  lidar:
    build: ./src/lidar
    container_name: lidar
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  photogrammetry:
    build: ./src/photogrammetry
    container_name: photogrammetry
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  servo:
    build: ./src/servo
    container_name: servo
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  data_processor:
    build: ./src/data_processor
    container_name: data_processor
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

  orchestrator:
    build: ./src/orchestrator
    container_name: orchestrator
    depends_on:
      - data_processor
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh

networks:
  default:
    driver: bridge
