version: "3.9"

services:
  lidar:
    build:
      context: .
      dockerfile: src/lidar/Dockerfile
    container_name: lidar
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh
    network_mode: host
    privileged: true

  lidar_data:
    build:
      context: .
      dockerfile: src/lidar_data/Dockerfile
    container_name: ros2_ldlidar
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    privileged: true
    command: ros2 launch ldlidar_ros2 ld14p.launch.py
    tty: true
    entrypoint: /entrypoint.sh
    network_mode: host

  photogrammetry:
    build:
      context: .
      dockerfile: src/photogrammetry/Dockerfile
    container_name: photogrammetry
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh
    network_mode: host

  servo:
    build:
      context: .
      dockerfile: src/servo/Dockerfile
    container_name: servo
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh
    privileged: true          # Needed for GPIO access
    devices:
      - /dev/gpiomem:/dev/gpiomem   # Expose GPIO memory to container
    network_mode: host

  data_processor:
    build:
      context: .
      dockerfile: src/data_processor/Dockerfile
    container_name: data_processor
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh
    network_mode: host

  orchestrator:
    build:
      context: .
      dockerfile: src/orchestrator/Dockerfile
    container_name: orchestrator
    depends_on:
      - data_processor
    environment:
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    entrypoint: /entrypoint.sh
    network_mode: host

networks:
  default:
    driver: bridge
