version: "3.8"
services:
  lidar:
    build: .
    container_name: ros2_ldlidar
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    environment:
      - ROS_DOMAIN_ID=5
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    privileged: true  
    command: >
      bash -c "
      ros2 launch ldlidar_ros2 ld14p.launch.py
      "
    networks:
      - ros-net
    tty: true

#  rviz:
#    build: .
#    container_name: ros2_ldlidar_rviz
#    depends_on:
#      - lidar
#    environment:
#      - ROS_DOMAIN_ID=5
#      - DISPLAY=${DISPLAY}
#    volumes:
#      - /tmp/.X11-unix:/tmp/.X11-unix:rw
#    command: >
#      bash -c "
#      rviz2
#      "
#    networks:
#      - ros-net
#    tty: true


networks:
  ros-net:
